@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    background-color: #F5F5F5;
    font-family: 'Roboto', sans-serif;
}

nav {
    background-color: #7500D0;
    font-size: 25px;
    border-radius: 0px !important;
}

nav a {
    color: white;
}



.input {
  border-radius: 0px !important;
}

.input-group.md-form.form-sm.form-2 input {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input.red-border  {
    border: 1px solid #ef9a9a;
}

.media-body h3 {
  float: left;
}

.media-body > div {
  display: block;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tag {
  margin-left: 10vw;
  margin-top: 15px;
  color: #7500D0;
  border: solid 1px #7500D0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 9999px;
}


 #rsos {
   margin-top: 30px;
   padding-right: 30px;
 }

 .logo {
   height: 150px;
   width: 150px;
   margin: 20px;
   margin-right: 30px;
 }

 .rso-content {
   padding: 10px;
   background-color: white;
   border: 1px solid #bdbdbd;
 }

.icons {
    display: flex;
    justify-content: flex-start;
    height: 50px;
}

.icons i {
    color: #bdbdbd;
    margin-left: 10px;
    margin-right: 10px;
}

form {
    display: flex;
    wrap: no-wrap;
}

.filter-container {
  display: flex;
  justify-content: center;
}

#filters {
  width: 400px;

}

form div {
    background-color: #7500D0;
    color: white;
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;

}

form div i {
    text-align: center;
    vertical-align: middle;
    font-size: 15pt;
}

footer {
  display: flex;
  justify-content: center;
}
